ul.eventList {
    padding: 0 25px;
    align-items: center;
}

h3.event-default {
    text-align: center;
    padding: 10px;
}

li.event {
    list-style-type: none;
    font-size: 1.2em;
    padding: 10px 0;
    border-bottom: 1px solid skyblue;
}

.events-container {
    width: 40%;
    margin: auto;
}

.form-header {
    text-align: center;
    padding: 20px;
}

.event-input {
    padding: 10px;
    width: 100%;
    border-radius: 25px;
    box-sizing: border-box;
}

.deleteEventBtn {
    float: right;
    color: #ff8080;
    cursor: pointer;
}